body{
   height: 100vh;
   background-color: #2F2F2F;
}

#div-settings{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 15px;
} 

#div-row1, #div-row2, #div-row3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}


p{
    color: white;
    margin: 7px;
}